@page
@model Demo_KTLT_2021_12.Pages.MH_TestModel

<div>
    MH Test @Model.Chuoi <br />
    a = @Model.A
    Ket qua la @Model.sum
</div>

<form method="post">
    <label>Nhap x:</label>
    <input type="text" name="x" value="0" />
    <br />
    <label>Nhap y:</label>
    <input type="text" name="y" value="0" />
    <br />

    <input type="submit" value="Tinh" />
</form>